
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="panel-default home-div">
            <div class="panel-default home-div">
            <div class="panel-heading disabled">Avisos</div>
            <% for(var i=0; i < noticias.length; i++) { %>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading"><%= noticias[i].tituloAviso %></h4>
                <p class="list-group-item-text"><%= noticias[i].descriAviso %></p>
            </a>
            <% } %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="panel-default home-div">
            <div class="panel-heading disabled">Chamados <span class="badge">5</span></div>
            <div class="btn-group btn-group" role="group" aria-label="..." id="menuchamado">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Novo
                </button>
                <a type="button" class="btn btn-default" href="#!/caixa">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Minha caixa
                </a>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                    Caixa do meu grupo
                </button>
            </div>
            <div class="panel-body">
                <div class="table-responsive" >
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Chamado</th>                                    
                                <th>Descrição</th>
                                <th>Status</th>
                                <th>Aberto em</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#!/chamado/#!/:11111102">11111102</a></td>
                                <td>Está é a descrição do chamado</td>
                                <td>Aberto</td>
                                <td>03/13/2017 09:50</td>
                            </tr>
                            <tr>
                                <td><a href="chamado.html">11111111</a></td>
                                <td>Está é a descrição do chamado</td>
                                <td>Fechado</td>
                                <td>03/13/2017 09:50</td>
                            </tr>
                            <tr>
                                <td><a href="chamado.html">11111112</a></td>
                                <td>Está é a descrição do chamado</td>
                                <td>Fechado</td>
                                <td>03/13/2017 09:50</td>
                            </tr>
                            <tr>
                                <td><a href="chamado.html">12413131</a></td>
                                <td>Está é a descrição do chamado</td>
                                <td>Em tratamento</td>
                                <td>04/20/2017 10:50</td>
                            </tr>
                            <tr>
                                <td><a href="chamado.html">23113189</a></td>
                                <td>Está é a descrição do chamado</td>
                                <td>Aberto</td>
                                <td>15/15/2017 15:30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
