<div class="panel panel-default">
	<div class="panel-heading"><h4><b>Cadastrar analista</b></h></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group input-group-lg disabled">				
					<span class="input-group-addon">Código:</span>
					<input type="text" class="form-control" aria-describedby="sizing-addon1" value="12345678" disabled>
				</div>						
			</div>							
		</div>		
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group input-group-lg" id="loginuser">					
					<span class="input-group-addon">Login:</span>
					<input type="text" class="form-control" aria-describedby="sizing-addon1" value="SE_AMBROSIO">
				</div>						
			</div>							
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group input-group-lg" id="nivel">
					<span class="input-group-addon">Nível:</span>
					<select class="form-control">
						<option value="Hardware">1</option>
						<option value="Software">2</option>
						<option value="Rede">3</option>
					</select>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group input-group-lg" id="nivel">
					<span class="input-group-addon">Grupo:</span>
					<select class="form-control">
						<option value="Hardware">Redes</option>
						<option value="Software">Mobile</option>
						<option value="Rede">Segurança</option>
					</select>
				</div>
			</div>	
		</div>
	</div>
</div>
<div class="btn-group btn-group" role="group" aria-label="..." id="menuchamado">
	<button type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Novo
	</button>
	<button type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
		Salvar
	</button>
	<a href="index.html" type="button" class="btn btn-default">			
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		Cancelar
	</a>
</div>