<div class="panel panel-default">
		<div class="panel-heading"><h4><b>Categorização</b></h></div>
		<div class="panel-body">
			<div class="row">
			<div class="input-group input-group-lg" id="categoria">
				<span class="input-group-addon" id="sizing-addon1">Categoria:</span>
				<select name="estados" id="estados" class="form-control" aria-describedby="sizing-addon1">
					<option value="Hardware">Hardware</option>
					<option value="Software" selected>Software</option>
					<option value="Rede">Rede</option>
				</select>
			</div>
		</div>
		<div class="row">							
			<div class="input-group input-group-lg disabled" id="subcategoria">
				<span class="input-group-addon" id="sizing-addon1">Subcategoria:</span>
				<select name="estados" id="estados" class="form-control" aria-describedby="sizing-addon1">
					<option value="Hardware">Hardware</option>
					<option value="Software" selected>Software</option>
					<option value="Rede">Rede</option>
				</select>
			</div>		
		</div>
		<div class="row">
			<div class="input-group input-group-lg disabled" id="produto">
				<span class="input-group-addon" >Produto:</span>
				<select name="estados" id="estados" class="form-control" aria-describedby="sizing-addon1">
					<option value="Hardware">Hardware</option>
					<option value="Software" selected>Software</option>
					<option value="Rede">Rede</option>
				</select>
			</div>	
		</div>
		<div class="row">	
			<div class="input-group input-group-lg" id="problema">
				<span class="input-group-addon" >Problema:</span>
				<select name="estados" id="estados" class="form-control" aria-describedby="sizing-addon1" >
					<option value="Hardware" disabled selected>Selecione</option>
					<option value="Hardware">Hardware</option>
					<option value="Software" >Software</option>
					<option value="Rede">Rede</option>
				</select>
			</div>
		</div>
		</div>
</div>
<div class="btn-group btn-group" role="group" aria-label="..." id="menuauto">
	<a href="#!/auto2" class="btn btn-default">
		<span class="glyphicon glyphicon-ok"></span>
		Confirmar
	</a>
	<a href="#!/chat" class="btn btn-default">
		<span class="glyphicon glyphicon-remove"></span>
		Cancelar
	</a>			
</div>