<div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel panel-default">
            <div class="panel-heading">          
              <h4 class="panel-title"><b>Selecione seu problema na lista abaixo</b></h4>                      
            </div>
            <div class="panel-heading">          
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="list-group-item-heading" role="button">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                  Não conecta ao wifi
                </a>
              </div>
            </div>  
            <div id="collapse4" class="panel-collapse collapse panel-body">
              <p>
                Verifique se o wifi está habilitado no aparelho.
              </p>
              <p>
				Tente esquecer a rede e conectar novamente.
			  </p>
			  <p>
				Reinicie o aparelho e tente novamente.
			  </p>
			  <div class="btn-group btn-group" role="group" aria-label="..." id="menuauto">
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-ok"></span>
					Resolve meu problema
				</button>
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-ban-circle"></span>
					Não resolve meu problema
				</button>
			  </div>
              
            </div>
          </div>    
          <div class="panel panel-default">
            <div class="panel-heading">          
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse5" class="list-group-item-heading" role="button">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                  Conexão intermitente
                </a>
              </div>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
            <p class="panel-body">
            Não deixe de nos informar como foi o atendimento recebido do setor de Service Desk.
            </p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">          
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse6" class="list-group-item-heading" role="button">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                  Erro de rede
                </a>
              </div>
            </div>  
            <div id="collapse6" class="panel-collapse collapse">
              <p class="panel-body">
                O problema no sistema d ponto já foi resolvido e o mesmo já foi liberado para uso.
              </p>
            </div>
          </div>
        </div>
      </div>
     <div class="btn-group btn-group" role="group" aria-label="..." id="menuauto">
		<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-ban-circle"></span>
			Nenhuma das opções
		</button>
		<button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-remove"></span>
			Cancelar
		</button>
	</div>

