<div class="panel panel-default" id="">
	<div class="panel-body">
	<nav class="navbar navbar-default">
		<div>
			<div class="navbar-header ">                
				<button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#caixaNavbar">
					<span class="glyphicon glyphicon-th-large"></span>                       
				</button>
				<span class="navbar-brand">Chamados</span>
			</div>
			<div class="collapse navbar-collapse" id="caixaNavbar">
				<ul class="nav navbar-nav">
					<li>
						<a href="">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							Novo
						</a>
					</li>
					<li>
						<a>
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							Minha caixa
						</a>
					</li>
					<li>
						<a>
							<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
							Caixa do grupo
						</a>
					</li>
					<li>

					</li>
				</ul>
				<div class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Buscar por...">
					</div>
				</div>

				<div class="nav navbar-nav navbar-right">
					<span class="badge">3</span>
				</div>


			</div>
		</div>
	</nav>	
	<div class="row">									
			<div class="table-responsive" >
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Chamado</th>
							<th>Usuário</th>
							<th>Analista</th>
							<th>Descrição</th>
							<th>Status</th>
							<th>Aberto em</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#!/chamado/#!/:11111102">11111102</a></td>
							<td>HA_SILVA</td>
							<td>BD_ROCHA</td>
							<td>Mobile não conecta ao Wi-Fi</td>
							<td>Aberto</td>
							<td>03/13/2017 09:50 AM</td>
						</tr>
						<tr>
							<td><a href="chamado.html">11111111</a></td>
							<td>HA_SILVA</td>
							<td>AS_PEREIRA</td>
							<td>Colaboradora deixou o mobile cair e trincou o visor</td>
							<td>Fechado</td>
							<td>03/13/2017 09:50 AM</td>
						</tr>
						<tr>
							<td><a href="chamado.html">11111112</a></td>
							<td>HA_SILVA</td>
							<td>BD_ROCHA</td>
							<td>Solicito um novo aparelho devido ao aumento de quadro de colaboradores</td>
							<td>Fechado</td>
							<td>03/13/2017 09:50 AM</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>