


<div class="row">
  <div class="col-sm-12">
    <div class="col-xs-12 col-sm-12 col-md-5">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel panel-default">
            <div class="panel-heading">          
              <h4 class="panel-title"><b>Avisos</b></h4>                      
            </div>    
          <div ng-repeat="aviso in avisos | filter: {ativoAviso: 1}"> 
      <div class="panel panel-default">
        <div class="panel-heading">      
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="{{'#av'+aviso.codAviso}}" class="list-group-item-heading" role="button">
                  <span class="glyphicon glyphicon-chevron-down"></span>
                  {{aviso.tituloAviso}}
                </a>
              </div>              
            </div>  
            <div id="{{'av' + aviso.codAviso}}" class="panel-collapse collapse">
              <p class="panel-body">
                {{aviso.descriAviso}}
              </p>
            </div>
          </div>  
        </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 listachamados">
      <div class="panel panel-default">
        <div class="panel-heading disabled">
          Chamados 
          <span class="badge">4</span>
        </div>
        <div class="btn-group btn-group" role="group" aria-label="..." id="menuchamado">
          <a href="#!/auto1" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            Novo                               
          </a>                           
          <a class="btn btn-default visible-md visible-lg" href="#!/caixa">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Minha caixa
         </a>
          <a class="btn btn-default visible-sm visible-xs" href="#!/caixa">
            Minha caixa
          </a>
          <button type="button" class="btn btn-default visible-md visible-lg">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
            Caixa do grupo
          </button>
          <button type="button" class="btn btn-default visible-sm visible-xs">
            Caixa do grupo
          </button>
        </div>
        <div class="container-fluid">
          <div class="">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Chamado</th>                                    
                  <th class="visible-md visible-lg">Descrição</th>
                  <th>Status</th>
                  <th>Aberto em</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="#!/chamado/#!/:11111102">11111102</a></td>
                  <td class="visible-md visible-lg">Não consigo conectar meu notebook ao wi-fi</td>
                  <td>Aberto</td>
                  <td>03/13/2017 09:50</td>
                </tr>
                <tr>
                  <td><a href="#!/chamado/#!/:11111111">11111111</a></td>
                  <td class="visible-md visible-lg">Não acessa o site da Sintegra, aparece uma mensagem de site bloqueado</td>
                  <td>Fechado</td>
                  <td>03/13/2017 09:50</td>
                </tr>
                <tr>
                  <td><a href="chamado.html">11111112</a></td>
                  <td class="visible-md visible-lg">Meu computador só fica em uma tela azul</td>
                  <td>Fechado</td>
                  <td>03/13/2017 09:50</td>
                </tr>
                <tr>
                  <td><a href="chamado.html">12413131</a></td>
                  <td class="visible-md visible-lg">Solicito o pacote Officce para minha maquina pois preciso para fazer meu trabalho diário</td>
                  <td>Em tratamento</td>
                  <td>04/20/2017 10:50</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>