<div class="panel panel-default">
	<div class="panel-heading"><h4><b>Cadastrar usuário</b></h></div>
	<div class="panel-body">
		
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group input-group-lg" id="loginuser">					
					<span class="input-group-addon">Login:</span>
					<input type="text" class="form-control" aria-describedby="sizing-addon1" value="SE_AMBROSIO">
				</div>						
			</div>							
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group input-group-lg" id="nomeuser">
					<span class="input-group-addon">Nome:</span>
					<input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Nome" value="Saul Ezequiel Ambrosio">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group input-group-lg" id="emailuser">
					<span class="input-group-addon">E-mail:</span>
					<input type="email" name="email" id="email" class="form-control" required placeholder="E-mail" tabindex="2" value="saul@empresa.com.br">
				</div>
			</div>
		</div>			
		
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group input-group-lg" id="usuchamado" >
					<span class="input-group-addon">Senha:</span>
					<input type="password" name="senha" id="senha" class="form-control" value="12345678">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group input-group-lg" id="anachamado">
					<span class="input-group-addon">Telefone:</span>
					<input type="number" class="form-control" aria-describedby="sizing-addon1" value="1637374545">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="btn-group btn-group" role="group" aria-label="..." id="menuchamado">
	<button type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Novo
	</button>
	<button type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
		Salvar
	</button>
	<a href="index.html" type="button" class="btn btn-default">			
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		Cancelar
	</a>
</div>